main {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 400px;
  height: 400px;
  border: 1px solid $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
}
form {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .input {
    //TODO feedback: 看了一下，.menu只被这一个地方使用了，所以没有必要抽取一个class出来，然后被其他class去继承
    @extend .menu;
  }
  .btn-formlogin {
    @include btn-variant($primary-color, $body-bg);
    width: 350px;
  }
  .btn-formregister {
    @include btn-variant($white, $primary-color);
    width: 350px;
  }
  a {
    color: $primary-color;
  }
  span {
    text-align: center;
  }
}
